/* custom css  */

.main {
    color: #ffffff;
    /* background-color: #d71e28; */
    background-color: #b41820;
    /* min-height: 100%; */
    border-radius: 10px;
    opacity: 0.9;
    margin: 10px;
    /* new shiz */
    display: inline-block;
    position: absolute;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    bottom:0;
    overflow-y: auto;
    top:0;
    left:0;
    right:0;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:10px;
    margin-left:10px;
    font-family: verdana, Arial, sans-serif;
    align-content: center;
    text-align: center;
    z-index: 500;
    /* browser specifc */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main::-webkit-scrollbar {
    display: none;
}

.ctf3-url-link {
    background-color: #000;
}

.ctf-urlbar {
    border: 1px;
    margin: 1px;
    padding: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: #fff;
    text-align: center;
}

.ctf-urlbar-select {
    overflow: hidden;
    text-overflow: ellipsis;
}

.ctf-urlwindow {
    border: 1px;
    margin: 1px;
    padding: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: #fff;
    border-color: #000;
    text-align: center;
    color: #000;
    font-family: monospace;
    font-size: small;
    padding: 10px;
    justify-content: left;
    text-align: justify;
    display: inline-block;
    width: 100%;
}

input[type=checkbox],input[type=radio] {
    vertical-align: middle;
}

.text-field-modal {
    border-radius: 5px;
    padding-left: 1em;
}

.faux-browser-button {
    padding: 2px 5px 2px 5px;
    background: #000;
    border-radius: 3px;
    color: #fff;
}

.faux-browser-button:active {
    background: #000;
    border-color: #fff;
}
.faux-browser-button:focus {
    background: #000;
    border-color: #fff;
}

.ctf-leaders {
    border: 5px solid #333;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto; 
    margin-right: auto;
}

.text-field-alert {
    border-color: #b41820;
}

.line-break {
    width: 100%;
}

.register-tooltip {
    color: #b41820;
}

.register-box {
    flex-wrap: wrap;
}
.text-field-container {
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.ctf-hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-decoration: double;
}

.ctf-html-outter {
    display: flex;
    justify-content: center;
}

.ctf-html-outter-flex {
    display: flex;
    justify-content: center;
}

/* bug fixes for mobile browsers */
@media (max-width: 500px) {
    .ctf-html-outter-flex { display: block; }
    .ctf-urlbar-select { width: 295px; }
    .ctf-html-outter {
        display: flex;
        
        -webkit-overflow-scrolling: auto;
        -webkit-transform: translate3d(0, 0, 0);
        /* -webkit-flex: 0 0 auto; */
        flex: 0 0 auto;
        
    }
}

.ctf-html-inner {
    background-color: #333;
    margin: 0.5rem;
    padding: 10px;
    border-width: 2px;
    border-radius: 4px;
    border-color: #fff;
    color: #fff;
    justify-content: left;
    display: inline-block;
}
.ctf-html-inner-text-center {
    justify-content: center;
    text-align: center;
}

.ctf-icon-error {
    padding: 0.5rem;
    color: red;
}

.ctf-icon-success {
    padding: 0.5rem;
    color: green;
}

.ctf-code-left {
    font-family: monospace;
    font-size: small;
    background-color: #333;
    margin: 0.5rem;
    padding: 10px;
    border-width: 2px;
    border-radius: 4px;
    border-color: #fff;
    color: #fff;
    justify-content: left;
    text-align: justify;
    display: inline-block;
}

.ctf-socialmedia-post {
    font-family: sans-serif;
    font-size: small;
    background-color: #fff;
    margin: 0.5rem;
    padding: 10px;
    border-width: 2px;
    border-radius: 4px;
    border-color: #333;
    color: #333;
    justify-content: left;
    text-align: justify;
    display: inline-block;
}


.ctf-html-inner-left {
    background-color: #333;
    margin: 0.5rem;
    padding: 10px;
    border-width: 2px;
    border-radius: 4px;
    border-color: #fff;
    color: #fff;
    justify-content: left;
    text-align: justify;
    display: inline-block;
}

.center-content {
    padding-right: 30%;
    padding-left: 30%;
    padding-top: 1rem;
    display: inline-block;
    text-align: left;
}

.ctf-modal-middle {
    vertical-align: middle;
    display: inline-block;
}

.cft-inline-block {
    display: inline-block;
}

.ctf-block {
    display: block;
}
.ctf-ul {
    list-style: circle;
}

.ctf-code-block-0 {
    display: block;
    background-color: rgba(255, 255, 255, 0.1);
}
.ctf-code-block-1 {
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
}

.ctf-button-dark {
  padding: 5px 10px 5px 10px;
  background: #333;
  border-radius: 10px;
  color: #fff;
}

.ctf-button-dark:active {
    background: #333;
    border: 3px;
}
.ctf-button-dark:focus {
    background: #333;
    border: 3px;
}

.ctf-url-scroll {
    overflow: auto;
}

.hidden {
    display: none;
    /* aria-hidden: true; */
}

.ctf-button-red {
    padding: 5px 10px 5px 10px;
    background: #b41820;
    border-radius: 10px;
    color: #fff;
    /* mobile safari bugfix, Issue #20, [27:All:Dev:iOS:Safari] Button controls on page are pale and not dark red. */
    -webkit-appearance: none;
}

.ctf-button-red:active {
    background: #b41820;
    border: 3px;
}
.ctf-button-red:focus {
    background: #b41820;
    border: 3px;
}

.developer {
    align-content: left;
    text-align: left;
}

.modals {
    z-index: 999
}

.status {
    font-family: verdana, Arial, sans-serif;
    z-index: 600;
    position: fixed;
    right: 20px;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    display: inline-block;
    background-color: #333;
    color: white;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*
.loading {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
}
*/

.loading.one {
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}

.loading.two {
    -webkit-animation-delay: 0.2s;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
}

.loading.three {
    -webkit-animation-delay: 0.3s;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
}

.images {
    max-width: 100%;
    height: auto;
}

@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dropmenu-link {
    border: 0px;
    margin: 1px;
}
.dropmenu-link:hover {
    border: 1px;
    border-color:#fff;
    border-style: solid;
    cursor: pointer;
}

/* overrides */
html {
    height: auto;
    overflow: auto
}

input:focus {
    background-color: #ffffcc;
}

body {
    height: auto;
    /* margin: 10px */
}

a {
    color: #ffffcc;
    cursor: pointer;
}

hr {
    margin: auto;
}

a:hover {
    color: #e6e600;
  }

.bada55 {
    color: #bada55
}

.section-lite {
    display: block;
    padding-top: 3rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
}

/* button,input,select,textarea,a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
} */

:focus {
    outline: none !important;
}

.xss-textarea{
    resize: none;
}

